*{
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
    background-color: palegreen;
}

#topo{
    background-color: lightgreen;
}

#topo img{
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 60em;
    width: 200px;
}

#topo li{
    display: inline-block;
}

a{
    text-decoration: none;
}
label {margin-bottom: 0.2em; display: block;}
  input, button {margin-bottom: 1em; padding: 10px;}
  input {margin-bottom: 1em; width: 50%;}

.verde li{
    display: inline-block;
    font-size: 1.0em;
    margin-left: 1em;
    margin-top: 1em;
}

header li a{
    font-weight: bold;
    color:black;
}

#foto-plantas img{
    margin: 1em;
    width: 97.8%;
    height: 35em;
}

#titulo{
    margin: 0.6em;
}
.verde{
background-color:lightgreen;
}


#titulo {
    font-size: 1.7em;
    font-weight: bold;
}

.container{ 
    display: inline-block;
}
section h1{
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}
p{
    margin-top: 0.5em;
    margin-left: 0.75em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
    line-height: 1.5;
}
.container{
    width: 468px;
    margin: 1em;
}

#sobre{
    margin-left: 1.5em;
    background-color: white;
}

#artes{
    background-color: white;
}

#artes img{
    margin-bottom: 1em;
    width: 100%;
    height: 15.1em;
}
#curiosidades{
    background-color: white;
}

footer {
    background-color: lightgreen;
    margin: 1em;
    padding: 0.7em;
}

footer p{
    font-weight: bold;
    margin-left: 40em;
}

.contato li{
    display: inline-block;
}

.insta img{
    margin-left: 42em;
    width: 36px;
}

.whats img{
    margin-left: 2em;
    width: 40px;
    margin-right: 30em;
}

.subir{
	bottom: 2px;
    margin-left: 80px;
    font-weight: bold;
}